<article>
    <% if notice %>
    <aside id="notice"><%= notice %></aside>
    <%end%>
    <% unless cart.line_items.empty? %>
    <h2> Your Cart <h2>
    <table>
        <%= render(@cart.line_items)%>
        
            <tr class="total_line">
                <th colspan="2">Total:</th>
                <td class="price total"> <%= number_to_currency(@cart.total_price) %> </td>
            </tr>
    </table>
        <%= button_to 'Empty basket', cart,
            method: :delete,
            confirm: 'Are you sure you want to empty cart?'
        %> 
        <% end %>
</article>