// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
article {
    background-color: #59bbc2
}
.carts {
    table {
        border-collapse: collapse;
    }
    td {
        padding: 1em
    }
    td.quantity {
        white-space: nowrap;
    }
    td.quantity::after {
        content: "x"
    }
    td.price {
        font-weight: bold;
        text-align: right;
        padding-top: 1em;

    }
    
    input[type="submit"] {
        background-color: #59bbc2;
        box-shadow: 0px 10px 14px -7px #42a0a7;
        border-radius:3px;
        border:1px solid #0a595f;
        display:inline-block;
        cursor:pointer;
        color:#040404;
        font-family:Arial;
        font-size:20px;
        font-weight:bold;
        padding:2px 6px;
        padding: 0.354em 1em;
    }
    input[type="submit"]:hover {
        background-color:#28aabb
    }

}